<tr id="task-{{ task.id }}">
    <td>
        <strong>{{ task.title }}</strong>
    </td>
    <td>
    {% if task.due_date == now %}
        <span class="label label-danger">{{ task.due_date }}</span>
    {% else %}
        {{ task.due_date }}
    {% endif %}
    </td>
    <td>
    {% for tag in task.tags.all %}
        <a href="/profile/tags/{{ tag }}/" class="label label-info">{{ tag }}</a>
    {% endfor %}
    </td>
    <td>
        <button class="delete-task-btn"
            data-task-id="{{ task.id }}" class="btn">Done</button>
    </td>
</tr>
